@import "components/mixings";
@import "components/body";
@import "components/title";


.divBack{
    margin-right: 2%;
}
.navBarHome{
    @include navBarHome;
}

.navBar {
    @include navBar;
}

.logo{
    @include logo;
}

.divBtn{
    @include divBtn;
}
.btnBlog{
    @include btnBlog;
}

.opCategory{
    @include opCategory;
}

.back{
    @include back;
}
.articulo{
    @include articulo;
}

.posArticulo{
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}