@import "strings";

body{
    background: $bgn;
    .msgWelcome{
        position: fixed;
        margin-top: 70px;
        color: $btnColor;
        font-size: 20px;
        strong{
            color: $btnColor;
        }
    }
}
.main{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: $bgn;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #fff;
    margin-top: 100px;
    flex-wrap: wrap;
    box-shadow: 5px 6px 15px 0 rgba(0,0,0,0.14);
    border-radius: 10px;
}

.flex2{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    flex-wrap: wrap;
    border-radius: 10px;
}
.detalleComentarios{
    width: 40%;
    height: auto;
}
.imgHome{
    margin-top: 2%;
}
.category{
    width: 400px;
}