@import "strings";

@mixin navBarHome {
    background: #F4F4F4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 6px 15px 0 rgba(0,0,0,0.14);
    position: fixed;
    z-index: 1;
}
@mixin navBar {
    background: #fff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 6px 15px 0 rgba(0,0,0,0.14);
    position: fixed;
    z-index: 1;
}

@mixin back {
    text-decoration: none;
    font-size: 30px;
    color: $bgn;
    cursor: pointer;
}

@mixin botonCategoria {
    background: #fff;
    color: #5C769F;
    text-align: center;
}

@mixin logo {
    width: 60px;
    height: auto;
    margin-left: 70px;
}

@mixin divBtn {
    text-align: center;
}

@mixin btnBlog {
    width: 300px;
    height: 72px;
    background: $btnColor;
    border: 0;
    border-radius: 50px;
    box-shadow: 5px 6px 15px 0 rgba(0,0,0,0.14);
    font-family: monospace;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    margin-top: 4%;
    &:hover{
        background: #fff;
        color: $btnColor;
    }
}

@mixin divCategory {
    text-align: center;
}

@mixin opCategory {
    width: 100%;
    height: 75px;
    background: #fff;
    color: $btnColor;
    font-size: 25px;
    font-family: monospace;
    border-radius: 50px;
    border: 0;
    box-shadow: 5px 6px 15px 0 rgba(0,0,0,0.14);
    cursor: pointer;
    &:hover{
        background: $btnColor;
        color: #fff;
    }
}

@mixin articulo {
    max-width: 30%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 0.5px solid #CECECE;
    margin: 10px 30px;
    background: #FFFFFF;
    box-shadow: 5px 6px 15px 0 rgba(0,0,0,0.14);
}
@mixin imgDetArtic {
    max-width: 400px;
    height: auto;
}
@mixin introDetArtic {
    margin: 10px;
    max-width: 400px;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-size: 1.2rem;
}

@mixin contDetArtic {
    font-family: montserrat, sans-serif;
    margin: 10px;
    max-width: 700px;
}

@mixin commentDetArtic {
    width: 90%;
}